@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');

body {
  width: 700px;
  height: 80px;
  margin: 0;
  background-color: #1b1d26;
  font-family: "Roboto", sans-serif;
  color: white;
}

#app-version {
  position: absolute;
  right: 10px;
  font-size: 11px;
  font-weight: 200;
  color: rgb(255, 255, 255, 0.25);
}

#root {
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.items-holder div {
  width: 33%;
  float: left;
  padding: 6px;
  box-sizing: border-box;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  min-height: 44px;
  padding: 0px 10px;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

.header {
  font-size: 1rem;
  font-weight: 500;
  background-color: #14151a;
}

.version {
  font-style: italic;
  font-size: 11px;
  color: #858a9c
}

.items-holder {
  width: 100%;
  padding: 15px 7px;
  position: relative;
  box-sizing: border-box;
}

.hid-holder button {
  width: 30%;
  margin-right: 5%;
}

.hid-holder button:last-child {
  margin-right: 0;
}

h1 {
  font-weight: 700;
  font-size: 12px;
  margin: 0;
  margin-bottom: 5px;
  color: #737583;
}

button {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0 7px 0 30px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 500;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 4px;
  position: relative;
  text-align: left;
  transition: all .3s ease;
}

button::after {
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 13px;
  transition: all .5s ease;
}

button.false::after {
  background: #cf0023;
  box-shadow: 0px 0px 9px 0px #cf0023;
}

button.false {
  background: #14151a;
  color: rgb(63 65 81 / 100%);
  opacity: 0.5;
}

button.true::after {
  background: #739900;
  box-shadow: 0px 0px 9px 0px #739900;
}

button.true {
  background: #2a2a3a;
  color: #fff;
}

button.setting-disabled {
  background: #14151a;
  color: rgb(63 65 81 / 100%);
  opacity: 0.5;
  text-decoration: line-through;
}

button.setting-disabled::after {
  background: rgba(222,118, 32, .8);
  box-shadow: 0px 0px 9px 0px rgba(222, 118, 32, .8);
}

button.setting-disabled::before {
  content: 'TBD';
  display: block;
  border-radius: 4px;
  font-size: 10px;
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 6px;
  background: rgba(222, 118, 32, .8);
  padding: 3px 6px;
  color: #fff;
}
